<h2> <%= @game.name %> </h2>

<p>
  <strong>Tipo:</strong>
  <%= @game.type.force_encoding('UTF-8') %>
</p>

<div class="">
  <%= @game.route %>
</div>

<p>
  <strong>Creacion:</strong>
  <%= @game.creation %>
</p>

<%= link_to 'Editar', edit_game_path(@game) %> |
<%= link_to 'Volver', games_path %>
