<!DOCTYPE html>
<html>
  <head>
    <title>Mente pequeña</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= value %>
    </div>
    <% end %>
    <section>
            <a id="clickbuttom" href=" <%= pages_filter_path %>" >
              <button type="button" class="btn btn-danger btn-lg m-2" name="button"> ¡JUEGA! </button>
              </a>
        <div class="col my-auto">
          <%= yield %>
        </div>
    </section>
    <footer class="container-fluid bg-primary text-white p-5">
      <a href="https://github.com/palomagabic" class="text-white"><i class="fab fa-github fa-3x" data-toggle="tooltip" data-placement="left" title="Github"></i></a>
         Creado por Paloma Cortes Lazo
    </footer>
  </body>
</html>
